node-v20.14.0-win-x64/
node.zip
nodejs_installer.msi
Antigravity-x64.exe
*.exe
*.zip
*.apk
.gradle/
.npm_cache/
.temp/
.gradle_home/
android-sdk/
platform-tools/
jdk-17.0.2/
node_modules/
node-v*/
uploads/
.env
.env.*
*.env
scratch/
